Options +FollowSymLinks
RewriteEngine On

RewriteCond %{HTTP_HOST}  ^www.apsvideo.co.uk [NC]
RewriteRule ^(.*) http://apsvideo.co.uk/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

ErrorDocument 404 /index.html
